# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/*
*.xsl
**/target
**/project
**/bin

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/
# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/
TP_ASCII_art/TP_ASCII_art/bin/
TP_ASCII_art/TP_ASCII_art/lib/
TP_ASCII_art/TP_ASCII_art/project/target/scala-2.10/
TP_ASCII_art/TP_ASCII_art/project/target/streams/compile/incCompileSetup/
TP_ASCII_art/TP_ASCII_art/src/main/java/
TP_ASCII_art/TP_ASCII_art/src/test/java/
TP_ASCII_art/TP_ASCII_art/src/test/resources/
TP_ASCII_art/TP_ASCII_art/target/scala-2.11/resource_managed/
TP_ASCII_art/TP_ASCII_art/target/scala-2.11/src_managed/
TP_Cadeau/TP_Cadeau/bin/
TP_Cadeau/TP_Cadeau/lib/
TP_Cadeau/TP_Cadeau/project/target/scala-2.10/
TP_Cadeau/TP_Cadeau/project/target/streams/compile/incCompileSetup/
TP_Cadeau/TP_Cadeau/src/main/java/
TP_Cadeau/TP_Cadeau/src/main/resources/
TP_Cadeau/TP_Cadeau/src/test/java/
TP_Cadeau/TP_Cadeau/src/test/resources/
TP_Cadeau/TP_Cadeau/target/scala-2.11/resource_managed/
TP_Cadeau/TP_Cadeau/target/scala-2.11/src_managed/
TP_Complexes/.idea/inspectionProfiles/
TP_Complexes/project/target/scala-2.10/
TP_Complexes/project/target/streams/compile/incCompileSetup/
TP_Complexes/src/main/java/
TP_Complexes/src/main/resources/
TP_Complexes/src/test/
TP_Complexes/target/scala-2.11/resource_managed/
TP_Complexes/target/scala-2.11/src_managed/
TP_Complexes/target/scala-2.11/test-classes/
TP_Conway/TP_Conway/bin/
TP_Conway/TP_Conway/project/target/scala-2.10/
TP_Conway/TP_Conway/project/target/streams/compile/incCompileSetup/
TP_Conway/TP_Conway/src/main/java/
TP_Conway/TP_Conway/src/main/resources/
TP_Conway/TP_Conway/src/test/java/
TP_Conway/TP_Conway/src/test/resources/
TP_Conway/TP_Conway/target/scala-2.11/resource_managed/
TP_Conway/TP_Conway/target/scala-2.11/src_managed/
TP_EnsemblesFonctions/TP_EnsemblesFonctions/.idea/inspectionProfiles/
TP_EnsemblesFonctions/TP_EnsemblesFonctions/bin/
TP_EnsemblesFonctions/TP_EnsemblesFonctions/project/target/scala-2.10/
TP_EnsemblesFonctions/TP_EnsemblesFonctions/project/target/streams/compile/incCompileSetup/
TP_EnsemblesFonctions/TP_EnsemblesFonctions/src/main/java/
TP_EnsemblesFonctions/TP_EnsemblesFonctions/src/main/resources/
TP_EnsemblesFonctions/TP_EnsemblesFonctions/src/test/java/
TP_EnsemblesFonctions/TP_EnsemblesFonctions/src/test/resources/
TP_EnsemblesFonctions/TP_EnsemblesFonctions/target/scala-2.11/resource_managed/
TP_EnsemblesFonctions/TP_EnsemblesFonctions/target/scala-2.11/src_managed/
TP_Logique/TP_Logique/bin/
TP_Logique/TP_Logique/lib/
TP_Logique/TP_Logique/project/target/scala-2.10/
TP_Logique/TP_Logique/project/target/streams/compile/incCompileSetup/
TP_Logique/TP_Logique/src/main/java/
TP_Logique/TP_Logique/src/main/resources/
TP_Logique/TP_Logique/src/test/java/
TP_Logique/TP_Logique/src/test/resources/
TP_Logique/TP_Logique/target/scala-2.11/resource_managed/
TP_Logique/TP_Logique/target/scala-2.11/src_managed/
TP_Monnaie/TP_Monnaie/bin/
TP_Monnaie/TP_Monnaie/project/target/scala-2.10/
TP_Monnaie/TP_Monnaie/project/target/streams/compile/incCompileSetup/
TP_Monnaie/TP_Monnaie/src/main/java/
TP_Monnaie/TP_Monnaie/src/main/resources/
TP_Monnaie/TP_Monnaie/src/test/java/
TP_Monnaie/TP_Monnaie/src/test/resources/
TP_Monnaie/TP_Monnaie/target/scala-2.11/resource_managed/
TP_Monnaie/TP_Monnaie/target/scala-2.11/src_managed/
TP_NReines/TP_N-Reines/.idea/inspectionProfiles/
TP_NReines/TP_N-Reines/bin/
TP_NReines/TP_N-Reines/lib/
TP_NReines/TP_N-Reines/project/target/scala-2.10/
TP_NReines/TP_N-Reines/project/target/streams/compile/incCompileSetup/
TP_NReines/TP_N-Reines/src/main/java/
TP_NReines/TP_N-Reines/src/main/resources/
TP_NReines/TP_N-Reines/src/test/java/
TP_NReines/TP_N-Reines/src/test/resources/
TP_NReines/TP_N-Reines/target/scala-2.11/resource_managed/
TP_NReines/TP_N-Reines/target/scala-2.11/src_managed/
TP_NReines/test/project/target/scala-2.10/
TP_NReines/test/project/target/streams/compile/incCompileSetup/
TP_NReines/test/src/test/
TP_Parentheses/TP_Parentheses/bin/
TP_Parentheses/TP_Parentheses/project/target/scala-2.10/
TP_Parentheses/TP_Parentheses/project/target/streams/compile/incCompileSetup/
TP_Parentheses/TP_Parentheses/src/main/java/
TP_Parentheses/TP_Parentheses/src/main/resources/
TP_Parentheses/TP_Parentheses/src/test/java/
TP_Parentheses/TP_Parentheses/src/test/resources/
TP_Parentheses/TP_Parentheses/target/scala-2.11/resource_managed/
TP_Parentheses/TP_Parentheses/target/scala-2.11/src_managed/
.idea/2A-scala.iml
.idea/misc.xml
.idea/modules.xml
TP_Monnaie/TP_Monnaie/target/scala-2.11/src
_managed/
